$lightGreen : #b9e7e7;


.app{
    display: flex;
    justify-content: center;

    .container{
        width: 1024px;
        //! Login & register

        .link{
            text-decoration: none;
            color: inherit;
           

        }

        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $lightGreen;
            height: 100vh;

            h1{
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: #eee;
                width: 200px;
                gap: 20px;

                input{
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid teal;
                    
                }
                button{
                    background-color: teal;
                    color: #eee;
                    cursor: pointer;
                    padding: 10px;
                    border: none;

                }
                
                p{
                    font-size: 12px;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 12px;
                    text-align: center;

                }

            }
        }

        //! Navbar
        .navbar{
            background-color: #eee;
            .container{
                padding: 10px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }
                    span{
                        cursor: pointer;
                        font-weight: 900;
                    }

                    .write{
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 400;

                        &:hover{
                            width: 48px;
                            height: 48px;
                            color: teal;
                            background-color: #eee;
                            border: 1px solid teal;
                        }
                    }
                }
            }
        }

        //! Footer
        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: #eee;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            }
        }
    }
}